:root{
    --color-one: #607D8B;
    --color-two: #546E7A;
    --color-three: #37474F;
    --color-four:#292A2B;
    --color-five:#BEBDBF;
    --color-six:#374140;
    --color-seven:#31353D;
    --color-eight:#393262;
}
body{
    background-color:var(--color-one);
    height:100vh;
    width:100vw;
    overflow:hidden;
    font-family:"Fira Sans", sans-serif;
}
h1{
    text-align:center;
    color:var(--color-four);
    margin-top:20px;
}
.home > button{
    display:block;
    margin:20px auto;
    padding:10px 20px;
    background-color:var(--color-two);
    color:var(--color-seven);
    border:none;
    border-radius:5px;
    cursor:pointer;
    font-size:16px;
    text-align:center;
}
.home > button:hover{
    background-color:var(--color-five);
}
.sgi_close_button,
.sgc_close_button{
    display:block;
    margin:20px auto;
    padding:10px 20px;
    background-color:var(--color-two);
    color:var(--color-seven);
    border:none;
    border-radius:5px;
    cursor:pointer;
    font-size:16px;
    text-align:center;
}
.sgi_close_button:hover,
.sgc_close_button:hover{
    background-color:var(--color-five);
}
.study_guide_interface, .study_guide_creator{
    display:none;
    background-color:var(--color-one);
    height:100vh;
    width:100vw;
    overflow:auto;
    position:absolute;
    top:0px;
    left:0px;
}
